{{- if eq .Values.secret.value.enabled true }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "data-pond.secretName" . }}
  labels:
    {{- include "data-pond.labels" . | nindent 4 }}
stringData:
  "{{ .Values.secret.ref.mapAccessKey }}":
    {{- toYaml .Values.secret.value.accessKey | nindent 4 }}
  "{{ .Values.secret.ref.mapSecretKey }}":
    {{- toYaml .Values.secret.value.secretKey | nindent 4 }}
{{- end }}
{{- if contains "Shared" .Values.storageType }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ .Release.Name }}-user-0"
  labels:
    {{- include "data-pond.labels" . | nindent 4 }}
stringData:
  CONSOLE_ACCESS_KEY:
    {{- toYaml .Values.secret.value.accessKey | nindent 4 }}
  CONSOLE_SECRET_KEY:
    {{- toYaml .Values.secret.value.secretKey | nindent 4 }}
{{- end }}
