---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "cdl-endpoint.labels" . | nindent 4 }}
immutable: true
data:
  allow-snippet-annotations: "true"
  {{- with .Values.ingress.extraConfigs }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
