---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mobilex-vstation.fullname" . }}
  labels:
    {{- include "mobilex-vstation.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "mobilex-vstation.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "mobilex-vstation.labels" . | nindent 8 }}
	{{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      enableServiceLinks: false
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      priorityClassName: {{ .Values.priorityClassName }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccount: {{ include "mobilex-vstation.serviceAccountName" . }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}

      hostname: {{ include "mobilex-vstation.fullname" . }}
      shareProcessNamespace: true

      initContainers:
        - name: init-check-permissions
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - env
            - bash
            - -c
          args:
            - |
              #!/bin/bash
              set -e -x -o pipefail

              # User Directory Permissions
              sudo mkdir -p "${HOME}/.local/share/containers/storage"
              sudo chown "$(id -u):$(id -g)" \
                "${HOME}/" \
                "${HOME}/.local" \
                "${HOME}/.local/share" \
                "${HOME}/.local/share/containers" \
                "${HOME}/.local/share/containers/storage"
              sudo chmod 700 "${HOME}"
              exec true
          env:
            - name: HOME
              value: /home/user
          resources:
            limits:
              cpu: "1"
              memory: 100Mi
          workingDir: /
          volumeMounts:
            - name: home
              mountPath: /home/user
              subPath: home
      containers:
        - name: desktop-environment
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: KISS_DESKTOP_FONTS_URL
              value: ""
            - name: KISS_DESKTOP_ICONS_URL
              value: ""
            - name: KISS_DESKTOP_THEMES_URL
              value: ""
            - name: KISS_DESKTOP_TEMPLATE_GIT
              value: https://github.com/ulagbulag/openark-desktop-template.git
            - name: KISS_DESKTOP_TEMPLATE_GIT_BRANCH
              value: master
            - name: NVIDIA_DRIVER_CAPABILITIES
              value: all
            - name: USER_PASSWORD
              value: {{ .Values.serviceAccount.password }}
            - name: USER_SHELL
              value: "/bin/{{ .Values.serviceAccount.shell }}"
            - name: WAYLAND_BACKEND
              value: vnc
            {{- with .Values.env }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: ssh
              protocol: TCP
              containerPort: 22
            - name: rdp-tcp
              protocol: TCP
              containerPort: 3389
            - name: rdp-udp
              protocol: UDP
              containerPort: 3389
            - name: vnc
              protocol: TCP
              containerPort: 5900
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: cgroup
              mountPath: /sys/fs/cgroup
              readOnly: true
            - name: home
              mountPath: /home/user
              readOnly: false
              subPath: home
            - name: home
              mountPath: /etc/ssh
              readOnly: false
              subPath: ssh
            # - name: host-dri
            #   mountPath: /dev/dri
            - name: tmp
              mountPath: /tmp
              readOnly: false
            {{- with .Values.extraVolumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
      volumes:
        - name: cgroup
          hostPath:
            path: /sys/fs/cgroup
            type: Directory
        - name: home
          persistentVolumeClaim:
            claimName: {{ include "mobilex-vstation.fullname" . }}
            readOnly: false
        - name: host-dri
          hostPath:
            path: /dev/dri
            type: Directory
        - name: tmp
          emptyDir: {}
        {{- with .Values.extraVolumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
